{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-white display-3 mb-3 headline">Anthony Laurent</h1>
        <h2 class="text-center mt-5 text-white display-4 mb-3 headline1">Développeur Web FullStack</h2>
        <hr class="text-white headline1">
        <div class="d-flex flex-wrap justify-content-around mt-2 headline2">
            <div class="bg-white zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5 me-5">
                <a href="{{ path('presentation') }}" class="d-block color-h3">
                    <i class="far fa-user display-5"></i>
                    <h3 class="mt-4">Présentation</h3>
                </a>
            </div>
            <div class="bg-white zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5 me-5">
                <a href="{{ path('skill') }}" class="color-h3">
                    <i class="fas fa-code display-5"></i>
                    <h3 class="mt-4">Compétences</h3>
                </a>
            </div>
            <div class="bg-white zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5 me-5">
                <a href="{{ path('project') }}" class="color-h3">
                    <i class="fas fa-project-diagram display-5"></i>
                    <h3 class="mt-4">Projets réalisés</h3>
                </a>
            </div>
            <div class="bg-white zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5 me-5">
                <a href="{{ path('contact') }}" class="color-h3">
                    <i class="far fa-envelope display-5"></i>
                    <h3 class="mt-4">Contact</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
