{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1 class="text-white text-center mt-5 pt-5 display-2">Présentation</h1>
            <div class="border-white border text-white p-5 mt-5 d-flex">
               <div>
                   {% for user in users  %}
                       <p class="fw-light fs-4">
                           je m'appele {{ user.firstname }}, j'ai {{ user.age }} ans et je suis actuellement une formation
                           en tant que développeur web et web mobile à la Wild Code School de bordeaux.
                       </p>
                       <a class="btn color-h3 bg-white" href="{{ asset('build/images/cv.pdf') }}" download="cv.pdf">Télecharger le cv</a>
                   {% endfor %}
               </div>
            </div>
        </div>
    </div>
{% endblock %}
