{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}

    <a href="{{ path('home') }}"><i class="fas fa-arrow-circle-left display-5 text-white ms-5"></i></a>
    <div class="container">
        <div>
            <h1 class="text-white text-center mt-5 display-5">Présentation</h1>
            <div class="border-white border text-white p-5 mt-5 d-flex">
               <div>
                   <h2>Anthony Laurent</h2>

               </div>
            </div>
        </div>
    </div>
{% endblock %}
