{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1 class="text-white text-center mt-5 display-5">Présentation</h1>
            <div>


            </div>


        </div>

    </div>

{% endblock %}
