{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="mt-5 pt-5">
        <h1 class="text-white text-center fw-light">Accès admin</h1>
        <form class="d-flex justify-content-center flex-column mt-5 col-lg-3 mx-auto " action="{{ path('login') }}" method="post">
            <input type="email" class="p-3 rounded-3 mb-3 border shadow-none" id="username" name="_username" placeholder="Email" autofocus />
            <input type="password" class="p-3 rounded-3 border shadow-none" id="password" name="_password" placeholder="Mot de passe"/>
            <button class="btn rounded-pill border-0 p-2 m-3 col-md-6 col-lg-5 mx-auto color-h3 bg-white">
                Je me connecte
            </button>
        </form>
    </div>
{% endblock %}
