{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-white mt-5 pt-5 display-2">Mes compétences</h1>
        <div class="w-50 mx-auto">
            {{ render_chart(chart) }}
        </div>
    </div>
{% endblock %}
