body {
  background-color: $primary;
}
.color-h3 {
  color: $primary;
}
.color-h3:hover {
  color: $primary;
}
.zoom{
  transition: transform .4s;
}
.zoom:hover {
  transform: scale(1.08);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}